<!DOCTYPE html>
<html>
<head>
  <title>S3FileuploadRails</title>
  <%= stylesheet_link_tag    "s3_fileupload_rails/application", :media => "all" %>
  <%= javascript_include_tag "s3_fileupload_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
