.add-box{
  height:220px;
  margin-bottom:20px;
}
.upload{
  text-align:center;
  font-weight:bold;
  margin-top:75px;
  margin-left:10px;
  margin-right:10px;
}

.upload .progress{
  margin-top:10px;
}
.add{
  top:90px;
  left:80px;
}
.pic{
  position:relative;
  top:40%;
  left:40%;
  font-size:48px;
}