.row
  .span12
    = s3_fileupload_form
.row.uploaded-images
  .span3
    %img.img-rounded{}
  .span12
    #s3-fileupload-progress-set
      .progress.progress-striped.active
        .bar
    #s3-fileupload-images